:root {
    --main-color: #1746A2;
    --second-color: #146FFC;
    --third-color: #D8EDFF;
    --note-color: #ffc436;
    --font-weight: 600;
}

/*Global*/
* {
    padding: 0;
    margin: 0;
}

.bg-1 {
    background-color: var(--main-color);
}

.bg-2 {
    background-color: var(--second-color);
}

.bg-3 {
    background-color: var(--third-color);
}

.rtl {
    direction: rtl;
}

.container {
    margin: auto;
}

.sec-padding {
    padding: 0 2em;
}


/* navigation */
.nav-bar {
    .logo img {
        width: 2.8em;
        height: 2.8em;
    }

    .logo .title {
        font-size: 2em;
        color: var(--main-color);
        padding-right: 1em;
        font-weight: var(--font-weight);
        font-family: "IBM Plex Sans Arabic";
    }

    .logo .title span {
        font-size: 0.7em;
        color: var(--note-color);
    }

    .links {
        flex-basis: 50%;
    }

    .links .link {
        font-weight: var(--font-weight);

        &.active {
            color: var(--main-color);
        }

        &:hover {
            color: var(--main-color);
        }
    }

    .notifications {
        flex-basis: 10%;
    }

    .notifications .profile img {
        width: 3em;
        height: 3em;
        border-radius: 50%;
    }
}

/* Introduction*/
.introduction {
    border-radius: 2.3em;
    position: relative;

    .discreption {
        justify-content: start;
        height: 30em;
    }

    .discreption .text {
        flex-basis: 40%;
    }

    .discreption .text h1 {
        font-family: "IBM Plex Sans Arabic";
    }

    .discreption .image {
        flex: 1;
        display: flex;

        img {
            max-width: 100%;
        }
    }

    .search-bar {
        padding: 0.5em 1em;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 85%;
        background: linear-gradient(#DCE9FD, #95C1FB);
        border-radius: 1.5em;
        gap: 1em;
        font-family: "IBM Plex Sans Arabic";
    }

    .search-bar div {
        border-radius: inherit;
        padding: 0.5em 1em 0.5em 3em;

        i {
            padding: 0 0.5em;
        }
    }

    .search-bar .distination {
        flex-basis: 27%;
    }

    .search-bar .members-num {
        flex-basis: 20%;
    }




}

/* How we Work*/
.how-we-work {
    padding: 5em 0 10em;

    .work {
        flex-basis: 30%;
    }

    .work .image img {
        width: 7em;
        height: 8em;
    }

    .work .work-text h3 {
        color: var(--main-color);
    }
}


/*Unites Options*/
.unites-options {
    padding-bottom: 5em;
    gap: 1em;

    .container {
        border-radius: 2em;
    }
    .unites {
        column-gap: 2em;
    }

    .unit {
        border-radius: 1.3em;
        flex-basis: calc((100% - 2em)/2);
        margin-bottom: 1em;
        box-shadow: 1px 1px 5px 0px black;
    }

    .unit .favorite {
        top: 0;
        font-size: 1.5em;
        position: absolute;
        color: var(--second-color);
        background-color: #d9d9d9;
        padding: 0.25em;
        border-radius: 0.25em;
    }

    .unit .favorite.active {
        background-color: #9d9d9d;
        color: gold;
    }

    .unit .image img {
        width: 12em;
        height: 13.8em;
        border-radius: 1em;
    }

    .unit .company {
        padding: 1em 4em 1em 0;
    }

    .unit .company span {
        right: 0;
        width: 2.75em;
        height: 2.75em;
        border-radius: 50%;
        background-color: #d9d9d9;
        top: 50%;
        transform: translateY(-50%);
    }

    .unit .properties div {
        flex-basis: 30%;
        padding-bottom: 1em;

        i {
            color: var(--second-color);
        }
    }

    .unit .properties .pool {
        flex-basis: 50%;
    }

    .unit .icons {
        display: none !important;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        left: 0;

        i {
            padding: 0.5em;
            color: white;
            background-color: rgba(255, 255, 255, 0.3);
            transform: translateY(-50%);
        }
    }

    .unit .properties .members {
        font-weight: var(--font-weight);
    }

    .unit .price .total-price {
        border-radius: 1em;
    }

    .more {
        display: none;
        width: fit-content;
        padding: 0.5em 1em;
        border-radius: 1em;

    }
}

/*Suggestions*/
.suggestions {
    padding-top: 5em;

    .search-bar {
        width: 60%;
        background-color: #4f4f4f;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4em;
        padding: 1.5em 2.5em;
    }

    .search-bar .search {
        color: #4f4f4f;
        padding: 0.6em 1.5em;
        border-radius: 2em;
    }

    .container {
        padding: 5em 0;
        background-color: #D8EDFF;
        border-radius: 3em;
    }

    form .ideas img {
        width: 30em;
        height: 30em;
        background-color: #4f4f4f;
        color: white;
        border-radius: 2em;
    }

    form .sending input,
    form .sending button {
        flex-basis: 30%;
        border-radius: 0.75em;
        padding: 0.75em;
        border: 0;
    }

    form .sending button {
        background-color: var(--second-color);
        text-align: center;
    }

    form .sending input {
        flex: 1;
        padding-right: 3em;
    }

    form .sending i {
        right: 0.5em;
        top: 50%;
        transform: translateY(-60%);
        font-size: 1.75em;
        color: #d9d9d9;
    }

    form .sending button i {
        color: white;
        transform: none;
    }

    form .alternatives {
        gap: 3em;
    }

    form .alternatives i {
        padding: 0.75em;
        border-radius: 0.75em;
        border: 0.1em solid #4f4f4f;
        flex: 1;
        text-align: center;
        font-size: 1.2em;
    }

    hr {
        position: relative;

        &::after {
            content: "او";
            background-color: #d8edff;
            padding: 0.5em;
            position: absolute;
            right: 50%;
            bottom: 50%;
            transform: translate(50%, 50%);
            font-size: 1.5em;
            color: black;
        }
    }
}

footer {
    background-color: #4f4f4f;

    .logo img {
        width: 2em;
        height: 2em;
    }

    .logo .title {
        color: #763AB6;
    }

    .links .link {
        flex-basis: 25%;
        margin-left: 1em;
    }

    .subscribe,
    .logo {
        flex-basis: 30%;
    }

    .subscribe .media i {
        border: 1px solid #9d9d9d;
        padding: 0.5em;
        border-radius: 50%;
    }

    .subscribe input {
        border-radius: 0.5em;
        flex: 1;
        border: 0;
    }

    .subscribe div:nth-child(2) {
        margin: 1.5em 0;
        border-radius: 0.5em;
        overflow: hidden;

        i {
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            padding: 0.5em;
            font-size: 1.3em;
        }
    }

    hr {
        border-color: white;
    }
}




/* very large */
@media (width>1279px) {
    .container {
        width: calc(100% -2em);
    }

    .nav-bar i.bars {
        display: none;
    }


}

/* large */
@media (980px <width <1280px) {
    body {
        font: 0.9em;
    }

    .container {
        width: calc(100% - 2em) !important;
    }

    .nav-bar i.bars {
        display: none;
    }

    .introduction {
        background-color: var(--second-color);
    }

    .introduction .search-bar {
        align-items: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        div {
            display: flex;
            height: fit-content;
            align-items: center;
            justify-content: end;
        }
    }

    .introduction .text {
        align-items: end;

        h1 {
            color: darkblue;
            font-size: 4em;
            font-weight: bolder;
        }
    }

    .unites {
        gap: 2em;

        .unit {
            flex-basis: calc((100% - 2em)/2);
        }
    }



}

/*medium*/
@media (688px<width<981px) {
    body {
        font-size: 0.8em;
    }

    .container {
        max-width: calc(100% - 2em) !important;
    }

    .nav-bar {

        .notifications,
        .links {
            display: none !important;
        }

        .container {
            >i {
                align-self: center;
                font-size: 2em;
            }
        }
    }

    .introduction {
        background-color: var(--second-color);
    }

    .introduction .discreption {
        flex-flow: column-reverse;
        height: 50em;

    }

    .introduction .search-bar {
        align-items: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        flex-flow: wrap;

        div {
            display: flex;
            height: fit-content;
            align-items: center;
            justify-content: end;
            flex-basis: 100% !important;
        }

        .arrival-time,
        .left-time {
            flex-basis: 48% !important;
            order: 1;
        }

        .search {
            order: 101;
            text-align: center;
        }

        .members-num {
            order: 100;
        }
    }

    .introduction .text {

        text-align: center !important;
        margin: auto;
        margin-top: 3em;
        align-items: center;
        color: white;
        font-size: 1.2em;

        h1 {
            font-size: 3em;
            font-weight: bolder;
        }
    }

    .how-we-work {
        .text {
            margin-top: 3em;
            font-size: 1.2em;

            h1 {
                color: var(--main-color);
            }
        }

        .work-strategy {
            justify-content: center !important;

            .work {
                flex-basis: 48%;
                flex-flow: row wrap !important;
                justify-content: center;
            }

            .work div {
                flex-basis: 100%;
            }

            .work .work-text {
                flex-basis: 80%;
                font-size: 1.4em;
            }
        }
    }

    .unites-options {
        .unites .unit {
            margin: 1em 3em;
            gap: 2em !important;
            flex-basis: 100%;
        }

        .unites .unit .image {
            flex-basis: 30%;

            img {
                width: 100%;
                height: 100%;
            }

            .icons {
                display: flex !important;
            }
        }

        .unites .unit .content {
            flex: 1;
            font-size: 1.5em;
        }

        .unites .unit .properties {
            gap: 0.6em;
        }

        .more {
            display: block;
        }
    }

    .suggestions {
        form {
            flex-flow: column;
            max-width: 70%;
            margin: 0 auto;

            .ideas {
                display: flex;
                justify-content: center;

                img {
                    width: 41.25em;
                }
            }

            .contacts {
                display: flex;
                flex-flow: wrap column;

                .contact-text {
                    text-align: center !important;
                }
            }

            .sending {
                gap: 1em !important;

                button {
                    flex: 1;
                }
            }

            .alternatives {
                i {
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1em;
                    color: var(--second-color);
                    border-color: var(--second-color);
                }
            }
        }
    }

    footer {
        background-color: var(--second-color);

        .content {
            flex-wrap: wrap;
        }

        .content .logo {
            flex-basis: 100%;

            h2 {
                color: var(--main-color);
            }
        }

        .content .links,
        .content .subscribe {
            flex-basis: 50%;
        }

        .content .links p {
            color: var(--main-color) !important;
            font-size: 1.5em !important;
        }

        .content .subscribe span {
            color: var(--main-color);
        }

        .content .subscribe .right {
            background-color: #ffc436;
            color: var(--main-color);
        }

        .copy-rights {
            color: var(--main-color) !important;
        }
    }

}

/*small*/
@media (width<689px) {
    .nav-bar {

        .links,
        .notifications {
            display: none !important;
        }
    }

    .introduction {
        background: linear-gradient(#5592e1, var(--second-color));

        .discreption {
            flex-flow: column-reverse;
        }

        .discreption .text {
            text-align: center !important;
        }

        .search-bar {
            flex-flow: column-reverse;
            bottom: -5em;
            padding: 1em;

            .search {
                text-align: center !important;
            }
        }
    }

    .how-we-work {
        padding-top: 15em;

        .text h1 {
            color: var(--second-color);
        }

        .text p {
            font-size: 1.2em;
        }

        .work-strategy {
            flex-flow: column;
        }
    }

    .unites-options {

        .unites {
            flex-flow: column;
        }

        .unites .unit {
            flex-flow: column-reverse;
        }

        .unites .unit .image {
            position: relative;

            .icons {
                display: flex !important;
            }
        }

        .unites .unit .image,
        .unites .unit .image img {
            width: 100%;
        }

        .unites .unit .content .favorite {
            display: none;
        }

        .unites .unit .content .beach {
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--second-color);
            color: white;
            text-align: center;
            padding: 0.5em;
            border-radius: 1em;

            i {
                color: white;
            }
        }

        .more {
            display: block;
        }
    }

    .suggestions,
    footer {
        display: none;
    }



}